@import '../variables.css';

/* DatePicker */
/* -------------------------------------------------- */

ion-popover.datepicker-popover,
ion-popover.sc-ion-popover-md-h.datepicker-popover {
  --width: var(--popover-width);
  --max-width: var(--popover-width);
  --min-width: var(--popover-width);
}

ionic-datepicker-popover .qs-datepicker-container {
  border: 0;
  border-radius: 0;
  margin-top: 0;
  box-shadow: none;
  position: relative;
}

ionic-datepicker-popover .qs-datepicker .qs-controls {
  background-color: var(--controls-background);
  padding: var(--controls-padding);
}

ionic-datepicker-popover .qs-datepicker .qs-squares {
  justify-content: center;
}

ionic-datepicker-popover .qs-datepicker .qs-square {
  border-radius: var(--square-border-radius);
  height: var(--square-dimension);
  width: var(--square-dimension);
}

ionic-datepicker-popover .qs-datepicker .qs-square.qs-day {
  font-weight: var(--square-font-weight);
}
ionic-datepicker-popover .qs-datepicker .qs-square.qs-current.qs-active,
ionic-datepicker-popover .qs-datepicker .qs-square.qs-active {
  background-color: var(--square-active-background);
  color: var(--square-active-color);
}

ionic-datepicker-popover .qs-datepicker .qs-square.qs-current {
  background-color: var(--square-current-background);
  color: var(--square-current-color);
}

ionic-datepicker-popover .qs-datepicker .qs-square.qs-current .qs-num {
  text-decoration: none;
}

ionic-datepicker-popover .qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background-color: var(--square-hover-background);
  color: var(--square-hover-color);
}

ionic-datepicker-popover .qs-datepicker .qs-overlay .qs-submit {
  background: transparent;
  padding: calc(var(--base-spacing-small) * .5) var(--base-spacing);
}

ionic-datepicker-popover .qs-datepicker .qs-overlay .qs-overlay-year {
  font-size: var(--font-size-small);
  width: auto;
}

ionic-datepicker-popover .qs-datepicker .qs-overlay .qs-close {
  font-size: var(--font-size-base);
  padding-right: var(--base-spacing);
}
